#!/usr/bin/make -f
# debian/rules file for libpgjava (uses cdbs)

include /usr/share/cdbs/1/rules/debhelper.mk

# Build using Blackdown's JDK 1.3 and 1.4 Debian packages
JAVA13_HOME := /usr/lib/j2se/1.3
JAVA14_HOME := /usr/lib/j2se/1.4
ANT_HOME    := /usr/share/ant1.5

UPSTREAM_VERSION := $(shell head -1 debian/changelog | cut -f2 -d\( | cut -f1 -d\) | cut -f1 -d\-)
majorversion := $(shell echo $(UPSTREAM_VERSION) | sed 's/^\([0-9][0-9]*\)\..*$$/\1/')
minorversion := $(shell echo $(UPSTREAM_VERSION) | sed 's/^[0-9][0-9]*\.\([0-9][0-9]*\).*$$/\1/')


clean::
	rm -f postgresql-jdbc*.jar
	-cd src/interfaces/jdbc && sh -c "CLASSPATH=$(ANT_HOME)/lib/ant.jar \
		$(JAVA13_HOME)/bin/java -Dant.home=$(ANT_HOME) \
		org.apache.tools.ant.Main clean"


build/libpgjava::
	cd src/interfaces/jdbc && sh -c "CLASSPATH=$(ANT_HOME)/lib/ant.jar:$(JAVA13_HOME)/lib/tools.jar \
		$(JAVA13_HOME)/bin/java -Dant.home=$(ANT_HOME) \
		org.apache.tools.ant.Main jar \
		-Dmajor=$(majorversion) -Dminor=$(minorversion) \
		-Dfullversion=$(UPSTREAM_VERSION) -Ddef_pgport=5432 \
		-Denable_debug=true"
	mv src/interfaces/jdbc/jars/postgresql.jar postgresql-jdbc2.jar
	rm src/interfaces/jdbc/org/postgresql/Driver.java
	rm -rf src/interfaces/jdbc/build src/interfaces/jdbc/jars

	cd src/interfaces/jdbc && sh -c "CLASSPATH=$(ANT_HOME)/lib/ant.jar:$(JAVA14_HOME)/lib/tools.jar:$(JAVA14_HOME)/jre/lib/jsse.jar \
		$(JAVA14_HOME)/bin/java -Dant.home=$(ANT_HOME) \
		org.apache.tools.ant.Main jar \
		-Dmajor=$(majorversion) -Dminor=$(minorversion) \
		-Dfullversion=$(UPSTREAM_VERSION) -Ddef_pgport=5432 \
		-Denable_debug=true"
	mv src/interfaces/jdbc/jars/postgresql.jar postgresql-jdbc3.jar


install/libpgjava::
	install -m 644 postgresql-jdbc2.jar debian/libpgjava/usr/share/java/postgresql-jdbc2-$(UPSTREAM_VERSION).jar
	ln -s postgresql-jdbc2-$(UPSTREAM_VERSION).jar debian/libpgjava/usr/share/java/postgresql-jdbc2.jar
	install -m 644 postgresql-jdbc3.jar debian/libpgjava/usr/share/java/postgresql-jdbc3-$(UPSTREAM_VERSION).jar
	ln -s postgresql-jdbc3-$(UPSTREAM_VERSION).jar debian/libpgjava/usr/share/java/postgresql-jdbc3.jar
	ln -s postgresql-jdbc2-$(UPSTREAM_VERSION).jar debian/libpgjava/usr/share/java/postgresql.jar

